body {
  margin: 0px;
  padding: 0px;
  background-color: #ff7575;
}
section {
  background-color: #fffdd1;
  padding: 5px;
  margin: 15px;
  border-radius: 10px;
  opacity: 1;
}
#profile {
    height: 100px;
    width: 100px;
    border-radius: 100%;
    object-fit: cover;
}

.icon {
    height: 10px;
    width: 15px;
  }

.profile-description{
  background-color: #fffdd1;
  padding: 5px;
  margin: 15px;
  border-radius: 10px;
  opacity: 1;
  }
